mixin head(data, is_main_page)
  head
    title Madala
    meta(charset='utf-8')
    meta(name='description', content='Description')
    meta(name='keywords', content='Description')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="shortcut icon", href="images/favicon.png", type="image/png")
    link(rel='stylesheet', href='css/main.css')


