%price {
  @include font-size(14px);
  color: $primary;
  font-family: $font-family-lobster;
}

%product-arrow-left {
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  content: '';
  height: 0;
  left: -15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  z-index: 1;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

%product-arrow-right {
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  content: '';
  height: 0;
  position: absolute;
  right: -15px;
  top: 45%;
  width: 0;
  z-index: 1;
  
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
