footer {
  @include font-size(13px);
  background: $black;
  color: $tundora;
  font-family: $font-family-opensans;

  h2 {
    color: $alto;
    font-size: $footer-heading-fontsize;
    font-weight: $font-weight-base;
    text-transform: uppercase;
  }

  a {
    color: $tundora;
  }

  p {
    margin-bottom: 0;
  }

  i {
    color: $primary;
    margin-right: 5px;
  }
}

.site-footer {
  padding: 50px 40px;

  @include media-breakpoint-down(sm) {
    padding: 30px 0 15px;
  }
}

.copy-right {
  border-top: 1px solid;
  padding: 16px 0;
}

.contact-us {
  font-family: $font-family-roboto;
  
  p>span:nth-child(2) {
    margin-left: 15px;
  }
}


