// scss-lint:disable NestingDepth
header {
  background-color: $seashell;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.menu {
  background-color: rgba($wild-sand, .2);
  border-bottom: 1px solid $wild-sand;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 20;

  @include media-breakpoint-down(md) {
    background-color: $wild-sand;
  }

  &__right {
    position: relative;
    z-index: 15;

    @include media-breakpoint-down(md) {
      float: right;
      width: 80%;
    }

    a {
      color: $black;

      &:hover {
        color: $primary;
      }
    }

    .list-inline-item {
      padding: 15px 0;

      @include media-breakpoint-down(md) {
        @include font-size(18px);
        padding: 20px 0;
      }

      @include media-breakpoint-down(sm) {
        padding-top: 0;
      }
    }

    >li:first-child {
      a {
        display: inline-block;
        margin-right: 40px;
      }
      // scss-lint:disable SelectorFormat
      &:hover .menu__cart {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
      }
    }

    >li:last-child {
      &:hover .search-form {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
      }
    }
  }

  &__cart {
    @include font-size(12px);
    @include transition(all .5s ease);
    background: $white;
    border: 2px solid $primary;
    left: 5px;
    min-width: 200px;
    opacity: 0;
    padding: 10px;
    position: absolute;
    top: 67px;
    transform: translateY(100px);
    visibility: hidden;

    @include media-breakpoint-down(lg) {
      left: -30%;
      right: 0;
    }

    @include media-breakpoint-down(md) {
      left: 70%;
      max-width: 200px;
    }

    @include media-breakpoint-down(xs) {
      left: 20%;
    }

    &::before {
      border-bottom: 10px solid $primary;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      content: '';
      height: 0;
      left: 34%;
      position: absolute;
      top: -10px;
      width: 0;

      @include media-breakpoint-down(sm) {
        left: initial;
        right: 0;
      }
    }

    li {
      a {
        // scss-lint:disable ImportantRule
        @include font-size(12px);
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 0 !important;
        position: relative;
      }

      img {
        margin-right: 10px;
      }

      span {
        @extend %price;
        position: absolute;
        top: 30px;
      }
    }
  }

  &__cart--total {
    border-top: 1px solid $gray-3;

    a {
      background: $gray-4;
      color: $white;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      width: 70px;
    }

    span:nth-child(2) {
      @extend %price;
    }
  }
}

.navbar-nav {
  padding-left: 75px;

  @include media-breakpoint-down(md) {
    padding-left: 0;
  }

  >li {

    >a {
      @include font-size(12px);
      @include transition(all .2s ease);
      color: $codgray-1;
      font-weight: $font-weight-bold;
      margin-left: 25px;
      padding: 15px 0;
      text-transform: uppercase;

      @include media-breakpoint-down(lg) {
        margin-left: 10px;
      }

      @include media-breakpoint-down(sm) {
        padding: 0;
      }

      &:hover {
        color: $primary;
      }
      // scss-lint:disable SelectorDepth
      &.active-mega:hover .mega-menu {
        opacity: 1;
        visibility: visible;
      }
    }

    &.active a {
      color: $primary;
    }

    &.active-mega:hover .mega-menu {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
  }
}

.search-form {
  @include transition(all .5s ease);
  background: $white;
  border: 2px solid $primary;
  margin: 0 auto;
  min-width: 320px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 67px;
  transform: translateY(100px);
  visibility: hidden;

  form {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }

  button {
    background: $primary;
    border: 1px solid $primary;
    color: $white;
    margin-left: -3px;
  }

  &::before {
    border-bottom: 10px solid $primary;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    content: '';
    height: 0;
    position: absolute;
    right: 0;
    top: -12px;
    width: 0;
  }
}

.slider {
  &__left {
    padding-top: 100px;

    h1,
    h2 {
      color: $primary;
    }

    h2,
    a {
      font-weight: $font-weight-light;
      text-transform: uppercase;
    }

    a {
      @include font-size(18px);
      @include transition(all .3s ease);
      animation: zoomIn 1s forwards;
      animation-delay: 1.5s;
      color: $codgray-1;
      opacity: 0;
      text-decoration: underline;

      &:hover {
        color: $primary;
      }
    }

    h1 {
      @include font-size(110px);
      @include transition(all .1s ease);
      animation: slideFromLeft 1s forwards;
      animation-delay: .5s;
      font-family: 'UTMViceroyJF';
      margin: 0;
      opacity: 0;

      @include media-breakpoint-down(lg) {
        @include font-size(90px);
      }

      @include media-breakpoint-down(sm) {
        @include font-size(80px);
      }
    }

    h2 {
      @include font-size(45.24px);
      @include transition(all .1s ease);
      animation: slideFromLeft 1s forwards;
      animation-delay: 1.5s;
      opacity: 0;

      @include media-breakpoint-down(lg) {
        @include font-size(35px);
      }

      @include media-breakpoint-down(sm) {
        @include font-size(24px);
      }
    }

    p {
      @include font-size(19.23px);
      @include transition(all .1s ease);
      animation: slideFromLeft 1s forwards;
      animation-delay: 1s;
      color: $quincy;
      font-weight: $font-weight-light;
      margin: 0;
      opacity: 0;

      @include media-breakpoint-down(lg) {
        @include font-size(16px);
      }

      @include media-breakpoint-down(sm) {
        @include font-size(14px);
      }
    }

    img {
      @include transition(all .3s ease);
      animation: zoomInImg 1.2s forwards;
      animation-delay: .5s;
      opacity: 0;
    }
  }

  &__right {
    img {
      @include transition(all .3s ease);
      animation: slideFromBottom 1.5s forwards;
      opacity: 0;
      position: relative;

      @include media-breakpoint-down(xs) {
        max-width: 100%;
      }
    }
  }
}
