// scss-lint:disable NestingDepth, SelectorFormat, ImportantRule
.feature-box {
  margin: 40px 0;

  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
  }

  [class*='col-'] {
    border-right: 1px solid $silver;

    @include media-breakpoint-down(sm) {
      border-right: 0;
    }

    &:last-child {
      border: 0;
    }
  }

  &__item {
    @include media-breakpoint-down(md) {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 0;
    }

    img {
      margin-bottom: 15px;

      @include media-breakpoint-down(sm) {
        height: 25px;
      }
    }
  }
}

.banner-product {
  &__left {
    margin-bottom: 10px;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }

  &__left--text {
    min-height: 100%;

    @include media-breakpoint-down(xs) {
      min-height: 295px;
    }

    h3 {
      @include font-size(30px);
      border-bottom: 1px solid $black;
      font-family: $font-family-roboto-slab;
      font-weight: $font-weight-light;
      padding-bottom: 10px;
      position: relative;
      text-transform: uppercase;

      &::after {
        background-image: url('../images/bg-title-product.jpg');
        background-position: center;
        content: '';
        height: 9px;
        left: 50%;
        position: absolute;
        top: 43px;
        transform: translateX(-50%);
        width: 60px;
      }
    }
  }
}

.banner-product__left--img,
.banner-product__right {
  overflow: hidden;
  position: relative;

  img {
    @include transition(all .5s ease);
    transform: scale(1);

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  &:hover img {
    transform: scale(1.1);
  }
}

.video-banner-content {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  h3 {
    @include font-size(30px);
    color: $equator;
    font-family: $font-family-roboto-slab;
    letter-spacing: 2px;
    padding-top: 20px;
    text-transform: uppercase;
  }

  .video-btn {
    @include border-radius(50%);
    background: rgba(0, 0, 0, .6);
    color: $black;
    height: 100px;
    outline: 0;
    text-align: center;
    width: 100px;

    @include media-breakpoint-down(sm) {
      height: 50px;
      width: 50px;

      i {
        @include font-size(20px);
        color: $white;
      }
    }

    i {
      @include font-size(30px);
    }
  }
}

.promo-content {
  left: 0;
  padding: 70px 50px;
  position: absolute;
  top: 0;
  width: 100%;

  h2 {
    @include font-size(54px);
    font-family: $font-family-utm2;
    font-weight: $font-weight-light;
  }

  h3 {
    @include font-size(76px);
    font-family: $font-family-utm-avo;
    font-weight: $font-weight-bold;
    margin: 0;
  }

  p {
    @include font-size(18px);
    font-family: $font-family-opensans;
    font-weight: $font-weight-light;
    letter-spacing: 3px;
    margin: 0;
    text-transform: uppercase;
  }

  a {
    color: $primary;
    font-weight: $font-weight-bold;
    text-decoration: underline;
    text-transform: uppercase;
  }

  span {
    color: $madras;
    font-weight: $font-weight-bold;
    text-decoration: underline;
  }
}

.testimonial {
  &__content {
    background: url('#{ $path-image }/bg-testimonial.jpg') right center no-repeat;
    padding: 60px 0;

    @include media-breakpoint-down(sm) {
      background: none;
      padding-top: 30px;
    }
  }

  img {
    @include border-radius(50%);
    @include border(3px,
    solid,
    $primary);
    margin-right: 50px;
    padding: 10px;

    @include media-breakpoint-down(sm) {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
  }
}

.product-tabs {
  background: url('#{$path-image}/bg-product.jpg') no-repeat;
  background-size: cover;
  border-bottom: 1px solid $silver;
  border-top: 1px solid $silver;
  padding-top: 55px;
}

.nav-tabs {
  font-family: $font-family-utm;

  &__separate {
    background: $silver;
    display: block;
    height: 1px;
    margin: 35px auto 45px;
    position: relative;
    width: 295px;

    &::after {
      background: url('#{$path-image}/bg-title.jpg') no-repeat;
      content: '';
      height: 9px;
      left: 50%;
      position: absolute;
      top: -4px;
      transform: translateX(-50%);
      width: 140px;
    }
  }

  li {
    &:nth-child(2) {
      .nav-link {
        &::after {
          background: $silver;
          content: '';
          height: 25px;
          position: absolute;
          right: 0;
          top: 13px;
          width: 1px;
        }

        &::before {
          background: $silver;
          content: '';
          height: 25px;
          left: 0;
          position: absolute;
          top: 13px;
          width: 1px;
        }
      }
    }
  }

  a {
    @include font-size(18px);
    color: $gray-1;
    position: relative;

    &.active {
      @include font-size(30px);
      border-left: 1px solid;
      color: $primary !important;
    }
  }
}

.tab-pane {
  li {
    .nav-link {
      position: relative;

      &::after {
        background: $gray-2;
        border-radius: 50%;
        bottom: 40%;
        content: '';
        height: 2px;
        left: -2px;
        position: absolute;
        width: 2px;

        @include media-breakpoint-down(xs) {
          display: none;
        }
      }
    }

    &:first-child {
      .nav-link::after {
        display: none;
      }
    }
  }
}

.social {
  padding: 45px 0 70px;

  @include media-breakpoint-down(sm) {
    padding: 45px 0 30px;
  }

  a {
    @include transition (all .3s ease);
    color: $codgray-2;
    display: inline-block;
    margin: 0 10px;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
      margin: 10px 30px;
    }

    i {
      @include border-radius(50%);
      @include border(3px,
      solid,
      $codgray-2);
      @include box-circle (30px,
      30px,
      25px);
      margin-right: 10px;
      text-align: center;
    }

    &:active,
    &:hover {
      border-color: $black;
      color: $black;

      i {
        border-color: $black;
        color: $black;
      }
    }
  }
}

.above-footer {
  @include font-size(12px);
  margin-bottom: 70px;

  @include media-breakpoint-down(md) {
    margin-bottom: 30px;
  }

  h3 {
    @include font-size(16px);
    border-bottom: 1px solid $silver;
    font-family: $font-family-opensans;
    font-weight: $font-weight-bold;
    margin-bottom: 40px;
    padding-bottom: 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;

    &::after {
      background: url('#{$path-image}/bg-title.jpg') no-repeat;
      content: '';
      height: 9px;
      left: 50%;
      padding: 0 10px;
      position: absolute;
      top: 30px;
      transform: translateX(-50%);
      width: 140px;
    }
  }

  h4 {
    @include font-size(12px);
    font-weight: $font-weight-semibold;
    margin-top: 40px;
    text-transform: uppercase;
  }

  p {
    line-height: 18px;
  }

  a {
    @include transition(all .3s ease);
    color: $gray-2;

    &:hover {
      color: $primary;
    }
  }
}

.blog {
  &__content {
    border-bottom: 1px solid $silver;
    border-top: 1px solid $silver;
    padding: 15px 0 5px;

    p {
      margin-bottom: 0;
    }

    span {
      color: $gray-2;
      font-style: italic;
    }
  }

  h4 a {
    color: $black;
  }
}

.contact-form {
  margin-bottom: 30px;

  button {
    @include font-size(12px);
    background: $gray-5;
    color: $white;
    padding: 5px 20px;
    text-transform: uppercase;
  }
}

.product-tags {
  a {
    @include transition(all .3s ease);
    border: 1px solid $silver;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 0 6px;

    &:hover {
      background: $primary;
      border: 1px solid $primary;
      color: $white;
    }
  }
}
