// Base Styles

body {
  @include text(.875rem, 30px, $font-weight-base, $codgray-1);
  font-family: $font-family-opensans;
}

a,
a:hover,
a:focus {
  @include transition(all .3s ease);
  text-decoration: none;
}

a:hover {
  color: $primary;
}

ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  color: $black;
}

button:focus {
  outline: 0;
}

::placeholder {
  @include font-size(12px);
  color: $boulder;
}

.modal-backdrop {
  display: none;
}

.modal-dialog {
  margin: 10rem auto;
}

// scss-lint:disable ImportantRule
.nav-tabs,
.nav-link,
.nav-link.active,
.nav-link:hover {
  background: transparent !important;
  border: 0 !important;
  color: $gray-2;
}

.nav-link.active,
.nav-link:hover {
  color: $primary;
}

.navbar-toggler {
  background-color: $primary;
  color: $white;
  line-height: 1.4;

  @include media-breakpoint-down(sm) {
    margin-left: 15px;
    padding: 0 5px;
  }
}

.gutter-10 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.carousel-indicators {
  bottom: 45px;
  display: flex;
  justify-content: flex-start;
  left: 25px;
  z-index: 8;

  @include media-breakpoint-down(lg) {
    left: 30%;
  }

  li {
    background-color: $codgray-3;
    height: $carousel-indicator-height;
    margin: 0 5px;
    width: $carousel-indicator-width;
  }

  .active {
    background-color: $alto;
  }
}

input {
  min-height: 40px;
}

@include media-breakpoint-down(md) {
  .menu {
    position: fixed !important;
  }

  .navbar {
    left: 0;
    padding: 0;
    position: absolute;
    top: 15px;
    width: 100%;
    z-index: 10;
  }

  .navbar-collapse {
    background: rgba($greyser, .9);
    margin-top: 15px;
    
    .nav-link {
      padding: 0;
    }
  }
  // scss-lint:disable SelectorFormat
  .banner-product__right {
    margin: 10px 0;
  }
}

@include media-breakpoint-down (sm) {
  .nav-tabs,
  .tab-pane {
    .nav-item {
      display: block;
      text-align: center;
      width: 100%;
    }
  }

  .navbar {
    top: 0;
  }

  .form-control {
    display: inline-block;
    width: 80%;
  }
}
