@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab';
@import 'https://fonts.googleapis.com/css?family=Playball';
@import 'https://fonts.googleapis.com/css?family=Roboto';
@import 'https://fonts.googleapis.com/css?family=Lobster';

@font-face {
  font-family: "UTM ViceroyJF";
  src: url("../fonts/UTM ViceroyJF.ttf") format("truetype"),
  url('../fonts/UTM ViceroyJF.eot') format('embedded-opentype');
}

@font-face {
  font-family: "UTM A&S Graceland";
  src: url('../fonts/UTM A&S Graceland.eot') format('embedded-opentype'),
  url("../fonts/UTM A&S Graceland.ttf") format("truetype");
}

@font-face {
  font-family: "UTM AvoBold";
  src: url('../fonts/UTM AvoBold.eot') format('embedded-opentype');
}

@font-face {
  font-family: "Playball";
  src: url("../fonts/Playball.ttf") format("truetype");
}
