// Color variables
$seashell: #f0f0f0;
$gray-1: #c1c1c1;
$gray-2: #818181;
$gray-3: #e6e6e6;
$gray-4: #212121;
$gray-5: #1b1b1b;
$boulder: #7d7d7d;
$dove-gray: #656565;
$mercury: #e7e7e7;
$madras: #343a01;
$sunflower: #e3ce33;
$greyser: #cbd3df;
$bermuda: #88d8da;
$equator: #e3a859;
$pink: #f49ac2;
$codgray-1: #1a1a1a;
$codgray-2: #cacaca;
$codgray-3: #131313;
$wild-sand: #f4f4f4;
$tundora: #494949;
$alto: #d1d1d1;
$nobel: #b4b4b4;
$silver: #c2c2c2;
$quincy: #6c3c33;
$cardinal: #c72527;

// font-family variables
$font-family-opensans: 'Open Sans', $font-family-base;
$font-family-roboto: 'Roboto', $font-family-base;
$font-family-roboto-slab: 'Roboto Slab', $font-family-base;
$font-family-playball: 'Playball', $font-family-base;
$font-family-lobster: 'Lobster', $font-family-base;
$font-family-utm: 'UTM ViceroyJF', $font-family-base;
$font-family-utm2: 'UTM A&S Graceland', $font-family-base;
$font-family-utm-avo: 'UTM AvoBold', $font-family-base;
$font-weight-semibold: 600;

// Asset paths
$path-image: '../images';
$path-fonts: '../fonts';
